<h1>The Average Temperatures for <%= @zip %> from <%= @begin_date %> to <%= @end_date %>:</h1>

<p>Overall Average Temperature: <%= @average_temp %>°F</p>

<p>Average High Temperature: <%= @high %>°F</p>

<p>Average Low Temperature: <%= @low %>°F</p>
